In [27]:
aa = 1

In [2]:
a='1'
print(a)

1

In [3]:
a="1"
print(a)

1

In [7]:
print(type(a))

<class 'str'>

In [9]:
print(aa)

1

In [2]:
def add(a,b):
    print(a+b)

In [3]:
add(1, 2)

3

In [4]:
def adder(a,b):
    return (a+b)

In [6]:
a = adder(1,3)

In [7]:
x = 10

In [8]:
def show():
    print(x)

In [9]:
show()

10

In [10]:
del x

In [15]:
def outer():
    x=10
    def inner():
#         nonlocal x
        x+=1
        print(x)
        
    inner()
    print(x)

In [16]:
outer()

11
11

In [17]:
st = 'coding blocks'
print(st[0])

c

In [20]:
print(ord('C'))

67

In [22]:
print(chr(66))

B

In [29]:
a=1000
b=1000
c=20
print(a)

1000

In [30]:
print(id(a))

140360822875920

In [31]:
print(id(b))

140360822876272

In [26]:
print(id(c))

9801856

In [28]:
aa

1

In [54]:
def calculator(no_1,no_2):
    add = no_1+no_2
    sub=no_1-no_2
    mul=no_1*no_2
    div=no_1/no_2
    
    return add, sub, mul, div

In [55]:
a, b, c, d= calculator(50, 20)

In [57]:
del e

In [59]:
print(a,b,c,d)

70 30 1000 2.5

In [69]:
st = "Abhijeet Bhattacharya"
marks = 7
age = 23

In [63]:
print("my name is Abhijeet")

my name is Abhijeet

In [64]:
print(st, marks, age)

Coding blocks 7 23

In [70]:
print("My name is", st, "and my marks are", marks,", and my age is", age)

My name is Abhijeet Bhattacharya and my marks are 7 , and my age is 23

In [74]:
print("My name is {} and my marks are {} and my age is {}".format(st,marks, age))

My name is Abhijeet Bhattacharya and my marks are 7 and my age is 23

In [79]:
print(f"My name is {st} and my marks are {marks} and my age is {age}")

My name is     Good morning      and my marks are 7 and my age is 23

In [78]:
#Methods to use strings 
st = "    Good morning     "

In [77]:
print(st)

    Good morning

In [80]:
inp = input()

1

In [81]:
print(inp)

1

In [82]:
type(inp)

str

In [85]:
a=11

In [86]:
if a==10:
    print("Hello")
else:
    print("hi")

hi

In [88]:
temp = input()

 yes

In [118]:
if temp.strip()=="yes":
    print("YES")
if temp.strip()=="abhijeet":
    print("Abhijeet")
else:
    print("No")

YES
No

In [91]:
print(temp[0])

In [92]:
st = "    Good morning     "
print(temp.strip())

yes

In [97]:
print(st.strip())

Good morning

In [110]:
st = "My name is Abhijeet Bhattacharya"

In [111]:
print(st.split("_"))

['My name is Abhijeet Bhattacharya']

In [105]:
print(st.replace("Abhijeet", "Rohit"))

My name is Rohit Bhattacharya

In [112]:
a = "aaaaaaaaaffffffffffwwwww"

In [116]:
print(a.count('a'))

9

In [119]:
#List
a=[1,2,3,"hi",print]

In [121]:
print(a[0], a[1], a[2], a[3])

1 2 3 hi

In [125]:
# print(type(a[4]))
a[4]("hello world")

hello world

In [129]:
b = [1,2,3,4,5,6,7]
print(b[-2])

6

In [130]:
print(b[2:4])

[3, 4]

In [132]:
print(b[0:6:2])

[1, 3, 5]

In [136]:
b

[1, 2, 3, 4, 5, 6, 7, '10']

In [137]:
temp = input()

10

In [139]:
print(b)

[1, 2, 3, 4, 5, 6, 7, '10', '10']

In [150]:
temp = input()
b.append(temp)
temp = int(temp)
b.append(temp)

500

In [151]:
b

[1, '100', 100, 2, 3, 4, 5, 6, 7, '10', '10', '20', 100, 1000, '500', 500]

In [144]:
b.insert(1, '100')

In [152]:
b

[1, '100', 100, 2, 3, 4, 5, 6, 7, '10', '10', '20', 100, 1000, '500', 500]

In [161]:
m = b.pop()
print(m)

20

In [162]:
type(m)

str

In [160]:
b

[1, 100, 2, 3, 4, 5, 6, 7, '10', '10', '20']

In [163]:
b.remove(7)

In [168]:
b

[1, 100, 2, 3, 4, 5, 6]

In [169]:
sort_list = sorted(b)

In [170]:
sort_list

[1, 2, 3, 4, 5, 6, 100]

In [171]:
sort_list.reverse()

In [172]:
sort_list

[100, 6, 5, 4, 3, 2, 1]

In [177]:
list1 = [1,2,3]
list2=[3,4,5]
list3=[4,5,6]
list3[-1] = 7
list2 = sorted(list2)

In [178]:
list3

[4, 5, 7]

In [175]:
tup = (1,2,3)

In [176]:
print(tup)

(1, 2, 3)

In [179]:
print(tup[0])

1

In [185]:
#Dict
d = {
    "name":"Abhijeet",
    "ages":[23, 22, 21],
    "marks":70
}

In [186]:
print(d)

{'name': 'Abhijeet', 'ages': [23, 22, 21], 'marks': 70}

In [188]:
marks = "ages"
d[marks]

[23, 22, 21]

In [189]:
d

{'name': 'Abhijeet', 'ages': [23, 22, 21], 'marks': 70}

In [190]:
print(d.items())

dict_items([('name', 'Abhijeet'), ('ages', [23, 22, 21]), ('marks', 70)])

In [206]:
for i, j in d.items():
    print(i, j)

name Abhijeet
ages [23, 22, 21]
marks 70

In [192]:
print(range(10))

range(0, 10)

In [197]:
for i in range(1,10):
    print(i)
    if i==5:
        print("FIVE")

1
2
3
4
5
FIVE
6
7
8
9

In [204]:
b

[1, 100, 2, 3, 4, 5, 6]

In [201]:
for i in b:
    print(i)

1
100
2
3
4
5
6

In [207]:
d

{'name': 'Abhijeet', 'ages': [23, 22, 21], 'marks': 70}

In [208]:
print(d.keys())

dict_keys(['name', 'ages', 'marks'])

In [213]:
for i in d.keys():
    print(i)

name
ages
marks

In [210]:
print(d.values())

dict_values(['Abhijeet', [23, 22, 21], 70])

In [214]:
n = 2

In [222]:
def add(a, b, *args):
    print(a + b)
    print(*args)

In [223]:
add(1, 2, 3, 4)

3
3 4

In [248]:
def add(a=1, b=2, *args, **kwargs):
    print(a+b)
    print(*args)
    print(kwargs)

In [249]:
add()

3

{}

In [250]:
add(100, 50)

150

{}

In [251]:
add(100, 50, 75)

150
75
{}

In [252]:
add(1, 2, 55, no=100)

3
55
{'no': 100}