In [ ]:
from google.colab import drive

drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
!pip uninstall pandas
!pip install pandas==1.3.0

Found existing installation: pandas 1.3.0
Uninstalling pandas-1.3.0:
  Would remove:
    /usr/local/lib/python3.9/dist-packages/pandas-1.3.0.dist-info/*
    /usr/local/lib/python3.9/dist-packages/pandas/*
Proceed (Y/n)? Y
  Successfully uninstalled pandas-1.3.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandas==1.3.0
  Using cached pandas-1.3.0-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.whl (10.6 MB)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.9/dist-packages (from pandas==1.3.0) (1.22.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.9/dist-packages (from pandas==1.3.0) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.9/dist-packages (from pandas==1.3.0) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.7.3->pandas==1.3.0) (1.16.0)
Installing collected packages: pandas
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
plotnine 0.10.1 requires pandas>=1.3.5, but you have pandas 1.3.0 which is incompatible.
mizani 0.8.1 requires pandas>=1.3.5, but you have pandas 1.3.0 which is incompatible.
Successfully installed pandas-1.3.0

In [ ]:
import numpy as np
import pandas as pd
print(pd.__version__)

1.3.0

In [ ]:
data = pd.read_csv('/content/gdrive/MyDrive/Datasets/Titanic_Dataset/train.csv')

In [ ]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
cols_dropped = ["PassengerId", "Name", "Ticket", "Cabin", "Embarked"]

In [ ]:
data_clean = data.drop(cols_dropped, axis = 1)

In [ ]:
data_clean.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()

data_clean["Sex"] = le.fit_transform(data_clean["Sex"])

In [ ]:
data_clean

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0           0       3    1  22.0      1      0   7.2500
1           1       1    0  38.0      1      0  71.2833
2           1       3    0  26.0      0      0   7.9250
3           1       1    0  35.0      1      0  53.1000
4           0       3    1  35.0      0      0   8.0500
..        ...     ...  ...   ...    ...    ...      ...
886         0       2    1  27.0      0      0  13.0000
887         1       1    0  19.0      0      0  30.0000
888         0       3    0   NaN      1      2  23.4500
889         1       1    1  26.0      0      0  30.0000
890         0       3    1  32.0      0      0   7.7500

[891 rows x 7 columns]

In [ ]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(5)
memory usage: 48.9 KB

In [ ]:
data_clean = data_clean.fillna(data_clean["Age"].mean())

In [ ]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(5)
memory usage: 48.9 KB

In [ ]:
input = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare"]
output = ["Survived"]

X_data = data_clean[input]
Y_data = data_clean[output]

In [ ]:
print(X_data.shape, Y_data.shape)

(891, 6) (891, 1)

In [ ]:
def entropy(col):

    counts = np.unique(col, return_counts = True)
    N = float(col.shape[0])

    entropy = 0

    for idx in counts[1]:
        p = idx/N
        entropy += -1.0*(p*np.log2(p))

    return entropy

In [ ]:
col = np.array([0,0,1,0,1,1])
entropy(col)

1.0

In [ ]:
def divide_data(X_data, fkey, fval):
    X_right = pd.DataFrame([], columns = X_data.columns)
    X_left = pd.DataFrame([], columns = X_data.columns)

    for idx in range(X_data.shape[0]):
        val = X_data[fkey].loc[idx]

        if val > fval:
            X_right = X_right.append(X_data.loc[idx])
            # X_right = pd.concat([X_right, X_data.loc[idx]])
        else: 
            X_left = X_left.append(X_data.loc[idx])

    return X_left, X_right

In [ ]:
left, right = divide_data(data_clean[:10], 'Sex', 0.5)
print(left)
print(right)

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
1       1.0     1.0  0.0  38.0    1.0    0.0  71.2833
2       1.0     3.0  0.0  26.0    0.0    0.0   7.9250
3       1.0     1.0  0.0  35.0    1.0    0.0  53.1000
8       1.0     3.0  0.0  27.0    0.0    2.0  11.1333
9       1.0     2.0  0.0  14.0    1.0    0.0  30.0708
   Survived  Pclass  Sex        Age  SibSp  Parch     Fare
0       0.0     3.0  1.0  22.000000    1.0    0.0   7.2500
4       0.0     3.0  1.0  35.000000    0.0    0.0   8.0500
5       0.0     3.0  1.0  29.699118    0.0    0.0   8.4583
6       0.0     1.0  1.0  54.000000    0.0    0.0  51.8625
7       0.0     3.0  1.0   2.000000    3.0    1.0  21.0750

In [ ]:
def info_gain(X_data, fkey, fval):

    left, right = divide_data(X_data, fkey, fval)

    l = float(left.shape[0])/X_data.shape[0]
    r = float(right.shape[0])/X_data.shape[0]

    if left.shape[0] == 0 or right.shape[0] == 0:
        return -1000000

    i_gain = entropy(X_data.Survived) - (l*entropy(left.Survived) + r*entropy(right.Survived))

    return i_gain

In [ ]:
for i in X_data.columns:
    print(info_gain(data_clean, i, data_clean[i].mean()))
    print(i)

0.07579362743608165
Pclass
0.2176601066606142
Sex
0.0008836151229467681
Age
0.009584541813400071
SibSp
0.015380754493137694
Parch
0.042140692838995464
Fare

In [ ]:
class DecisionTree:

    def __init__(self, depth = 0, max_depth = 5):
        self.left = None
        self.right = None
        self.fkey = None
        self.fval = None
        self.max_depth = max_depth
        self.depth = depth
        self.target = None


    def train(self, X_train):

        feat = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']
        i_gains = []

        for i in feat:
            i_gain = info_gain(X_train, i, X_train[i].mean())
            i_gains.append(i_gain)

        self.fkey = feat[np.argmax(i_gains)]

        self.fval = X_train[self.fkey].mean()
        print("Making Tree Feature is: ", self.fkey)

        data_left, data_right = divide_data(X_train, self.fkey, self.fval)
        data_left = data_left.reset_index(drop = True)
        data_right = data_right.reset_index(drop = True)

        if data_left.shape[0] == 0 or data_right.shape[0] == 0:
            if X_train.Survived.mean() >= 0.5:
                self.target = "Survive"
            else:
                self.target = "Dead"
            return

        if (self.depth >= self.max_depth):
            if X_train.Survived.mean() >= 0.5:
              self.target = "Survive"
            else:
                self.target = "Dead"
            return

        self.left = DecisionTree(depth = self.depth + 1, max_depth=self.max_depth)
        self.left.train(data_left)

        self.right = DecisionTree(depth = self.depth + 1, max_depth=self.max_depth)
        self.right.train(data_right)

        if X_train.Survived.mean() >= 0.5:
            self.target = "Survive"
        else:
            self.target = "Dead"
        return

    def predict(self, test):
        if test[self.fkey] > self.fval:

            if self.right is None:
                return self.target
            return self.right.predict(test)

        else:
            if self.left is None:
                return self.target
            return self.left.predict(test)

In [ ]:
# d = DecisionTree()
# d.train(data_clean)

In [ ]:
split = int(0.7*data_clean.shape[0])
train_data = data_clean[:split]
test_data = data_clean[split:]
test_data = test_data.reset_index(drop = True)

In [ ]:
print(train_data.shape, test_data.shape)

(623, 7) (268, 7)

In [ ]:
d_t = DecisionTree()
d_t.train(train_data)

Making Tree Feature is:  Sex
Making Tree Feature is:  Pclass
Making Tree Feature is:  Age
Making Tree Feature is:  SibSp
Making Tree Feature is:  Pclass
Making Tree Feature is:  Age
Making Tree Feature is:  Age
Making Tree Feature is:  SibSp
Making Tree Feature is:  Parch
Making Tree Feature is:  Pclass
Making Tree Feature is:  SibSp
Making Tree Feature is:  Fare
Making Tree Feature is:  Parch
Making Tree Feature is:  Age
Making Tree Feature is:  Pclass
Making Tree Feature is:  Age
Making Tree Feature is:  Age
Making Tree Feature is:  Parch
Making Tree Feature is:  SibSp
Making Tree Feature is:  Fare
Making Tree Feature is:  Age
Making Tree Feature is:  Age
Making Tree Feature is:  Fare
Making Tree Feature is:  Age
Making Tree Feature is:  Age
Making Tree Feature is:  Fare
Making Tree Feature is:  Age
Making Tree Feature is:  Parch
Making Tree Feature is:  Fare
Making Tree Feature is:  Fare
Making Tree Feature is:  Fare
Making Tree Feature is:  Age
Making Tree Feature is:  Fare
Making Tree Feature is:  Parch
Making Tree Feature is:  Fare
Making Tree Feature is:  Age
Making Tree Feature is:  Age
Making Tree Feature is:  Fare
Making Tree Feature is:  Fare
Making Tree Feature is:  SibSp
Making Tree Feature is:  Fare
Making Tree Feature is:  Age
Making Tree Feature is:  Fare
Making Tree Feature is:  Pclass
Making Tree Feature is:  SibSp
Making Tree Feature is:  Age
Making Tree Feature is:  Age
Making Tree Feature is:  Age
Making Tree Feature is:  Pclass
Making Tree Feature is:  Age
Making Tree Feature is:  SibSp
Making Tree Feature is:  Fare
Making Tree Feature is:  SibSp
Making Tree Feature is:  Age
Making Tree Feature is:  Parch
Making Tree Feature is:  SibSp
Making Tree Feature is:  SibSp
Making Tree Feature is:  Age
Making Tree Feature is:  Age
Making Tree Feature is:  Age
Making Tree Feature is:  Parch
Making Tree Feature is:  Age
Making Tree Feature is:  Age

In [ ]:
print(d_t.fkey)
print(d_t.fval)
print(d_t.left.fkey)
print(d_t.right.fkey)

Sex
0.6292134831460674
Pclass
Fare

In [ ]:
y_pred = []
for i in range(test_data.shape[0]):
    y_pred.append(d_t.predict(test_data.loc[i]))

In [ ]:
y_pred

['Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead']

In [ ]:
y_actual = test_data[output]

In [ ]:
print(y_actual)

     Survived
0           0
1           0
2           0
3           0
4           1
..        ...
263         0
264         1
265         0
266         1
267         0

[268 rows x 1 columns]

In [ ]:
le = LabelEncoder()

y_pred = le.fit_transform(y_pred)

In [ ]:
y_pred

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0])

In [ ]:
print(y_pred.shape, y_actual.shape)

(268,) (268, 1)

In [ ]:
y_pred = np.array(y_pred).reshape((-1, 1))
print(y_pred.shape)

(268, 1)

In [ ]:
acc = np.sum(np.array(y_pred) == np.array(y_actual))/y_pred.shape[0]
print(acc)

0.8171641791044776