In [1]:
class School_Members:
    def __init__(self, name, age):
        self.name = name 
        self.age = age
        print(f"Initialized School_Member: {self.name}")
        
    def tell(self):
        print(f"Name: {self.name}, Age: {self.age}")
        
        
class Teachers(School_Members):
    
    def __init__(self, name, age, salary):
        School_Members.__init__(self, name, age)
        self.salary = salary
        print(f"Initialized Teacher: {self.name}")
        
    def tell(self):
        School_Members.tell(self)
        print(f"Salary: {self.salary}")
        

class Students(School_Members):
    
    def __init__(self, name, age, marks):
        School_Members.__init__(self, name, age)
        self.marks = marks
        print(f"Initialized Student: {self.name}")
        
    def tell(self):
        School_Members.tell(self)
        print(f"Marks: {self.marks}")

In [2]:
t = Teachers("Abhijeet", 23, 1000000)
s = Students("AB", 22, 75)

Initialized School_Member: Abhijeet
Initialized Teacher: Abhijeet
Initialized School_Member: AB
Initialized Student: AB

In [3]:
class School_Members:
    def __init__(self, name, age):
        self.name = name 
        self.age = age
        print(f"Initialized School_Member: {self.name}")
        
    def tell(self):
        print(f"Name: {self.name}, Age: {self.age}")
        
        
class Teachers(School_Members):
    
    def __init__(self, name, age, salary):
        super().__init__(name, age)
        self.salary = salary
        print(f"Initialized Teacher: {self.name}")
        
    def tell(self):
        super().tell()
        print(f"Salary: {self.salary}")
        

class Students(School_Members):
    
    def __init__(self, name, age, marks):
        super().__init__(name, age)
        self.marks = marks
        print(f"Initialized Student: {self.name}")
        
    def tell(self):
        super().tell()
        print(f"Marks: {self.marks}")

In [7]:
t = Teachers("Abhijeet", 23, 1000000)
s = Students("AB", 22, 75)

Initialized School_Member: Abhijeet
Initialized Teacher: Abhijeet
Initialized School_Member: AB
Initialized Student: AB

In [8]:
s.tell()

Name: AB, Age: 22
Marks: 75

In [9]:
t.tell()

Name: Abhijeet, Age: 23
Salary: 1000000